.navbar {
  background-color: #232328;
  color: #efefef;
  display: flex;
  height: 75px;
  justify-content: center;
  padding: 1.8rem 0 0 0;
}

.navbar h1 {
  font-weight: bolder;
  color: #fe5566;
}

@media screen and (max-width: 800px) {
  .navbar h1 {
    font-size: 1.4rem;
    font-weight: bolder;
  }
}
